<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images Present</title>
</head>

<body>
    <h1>Images for {{search}}:</h1>
    <ul>
        {{#each name}}
        <li><a target="_blank" href="/api/images/{{../search}}/name/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
    <br />
    <a href='/searched'>Go back to "keywords searched" page</a>
    <br />
    <br />
    <a href='/'>Go back to search page</a>
</body>
</html>